:root {
    --columns: 6;
    --gutters: 15px;
    --outsideGutters: 20px;
    --col: calc((100vw -(var(--outsideGutters)* 2) -(var(--gutters)*(var(--columns) - 1))));
    --cursor-stroke: #fff;
    --cursor-fill: #fff;
    --cursor-stroke-width: 1px;
}

@font-face {
    font-family: 'uqr';
    src: url('/fonts/u-q_r.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pqf';
    src: url('/fonts/p-q_f.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nhm';
    src: url('/fonts/n-h_m.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nhr';
    src: url('/fonts/n-h_r.woff2');
    font-weight: normal;
    font-style: normal;
}

::selection {
    background-color: #222;
    color: #E0E0E0 !important;
}

.cursor {
    display: none;
}

@media (any-pointer: fine) {
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        pointer-events: none;
        z-index: 999999;
        mix-blend-mode: difference;
    }

    .cursor__inner {
        fill: var(--cursor-fill);
        stroke: var(--cursor-stroke);
        stroke-width: var(--cursor-stroke-width);
    }

    .credits {
        padding-left: 25vw;
    }
}

.btn-primary {
    background-color: #0E3CF6;
    border-color: #0E3CF6;
    color: #E0E0E0;
    border-radius: 6px;
}

body {
    background-color: #EBEBEB;
    color: #010101;
}

button,
a,
p {
    font-family: "Figtree", sans-serif;
}

span {
    font-family: 'uqr';
}

/*NAVBAR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 1;
    transition: all .3s ease;
}

header.bye {
    top: -20%;
    opacity: 0;
    transition: all .3s ease;
}

nav {
    display: flex;
    flex-direction: flex;
    align-items: center;
    gap: 8px;
}

.navmov {
    display: flex;
    background-color: #222;
    color: #e3e3e3;
    border-top: 1px solid #bbbbbb;
}

.navmov .logo {
    padding: 12px;
}

.navdesk {
    display: none;
}

.collapse-nav {
    position: fixed;
    top: -200%;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    left: 0;
    background-color: #222;
    color: #e3e3e3;
    z-index: 99;
}

.collapse-nav.active {
    top: 0;
    pointer-events: all;
    opacity: 1;
    transition: all .5s ease-in-out;
}

.collapse-nav .linksMobile {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 12px;
}

.collapse-nav .linksMobile a {
    border-right: 1px solid #e3e3e3;
    color: #e3e3e3;
}

.collapse-nav .thumb .image {
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.collapse-nav .thumb .image img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.collapse-nav .thumb h3 {
    color: #e3e3e3;
    font-size: 1.2rem;
    font-family: uqr;
    transition: all .3s ease;
}

.collapse-nav .thumb:hover h3 {
    padding-left: 12px;
    transition: all .3s ease;
}

@media (min-width: 900.02px) {
    .navdesk {
        display: block;
    }

    .navmov {
        display: none;
    }

    nav {
        position: absolute;
        inline-size: 160px;
        inset-inline-end: 20px;
        inset-block-start: 50px;
        z-index: 8;
        flex-direction: column;
    }
}

nav .nav-link {
    width: 100%;
}

.nav-link {
    font-family: uqr;
    color: #222;
}

.nav-link:hover {
    color: #222;
    text-decoration: underline;
}

.nav-main {
    background-color: white;
    border-radius: 6px;
    width: 100%;
}

.nav-sec {
    display: none;
}

.nav-sec a {
    color: #e3e3e3;
}

.nav-sec a:hover {
    color: #e3e3e3;
}

@media (min-width: 900.02px) {
    .nav-sec {
        background-color: #313131;
        border-radius: 6px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }
}

.nav-sec input {
    background-color: #313131;
    color: #f9f9f9;
    border: none;
}

/*LOADER*/
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.wrapper-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.logo-loader {
    opacity: 0;
}

.star-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -160%);
}

.left-star,
.right-star {
    opacity: 0;
}

.progress-bar {
    width: 30%;
    min-width: 150px;
    height: 10px;
    background-color: #333;
    margin: 0 auto;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.progress-per {
    width: 0%;
    height: 100%;
    background-color: #ffffff;
}

/*SECTIONS BASE*/
.vine-btn {
    background-color: #222;
    color: #E0E0E0;
    border-radius: 4px;
    display: flex;
    padding: 6px 22px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    transition: all .3s ease;
    width: fit-content;
}

.vine-btn:hover {
    background-color: #E0E0E0;
    color: #222;
    border-color: #222;
    transition: all .3s ease;
}

.vine-section {
    font-family: 'uqr';
    display: block;
    inline-size: 100%;
    margin-inline: auto;
    padding-inline: 0;
    overflow: hidden;
}

@media (min-width: 900.02px) {
    .vine-section {
        padding-inline: 0 calc(160px + 20px*2);
    }
}

.vine-section.dark-section {
    background-color: #222;
    color: #E0E0E0;
}

.section-body {
    position: relative;
}

@media (min-width: 900.02px) {
    .section-body:before {
        background-color: #ffffff7e;
        block-size: 100%;
        content: "";
        display: block;
        inline-size: 1px;
        inset-block-end: 0;
        inset-inline-end: 0;
        position: absolute;
        z-index: 3;
    }
}

.vine-container {
    position: relative;
    z-index: 2;
}

.vine-container-bg {
    block-size: 100%;
    inset-block-start: 0;
    inset-inline: 0 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media (min-width: 900.02px) {
    .vine-container-bg {
        inset-inline: 0 calc(calc(160px + 20px*2)* -1);
    }
}

.vine-container-bg img {
    position: absolute;
    height: 102%;
    width: 102%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



/*HERO*/
.hero {
    height: 100dvh;
}

.hero .letter {
    display: inline-block;
    line-height: 1em;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(-50px);
}

.hero .title-1 span {
    font-family: 'uqr';
}

.hero .title-1 span:first-child {
    font-family: 'pqf' !important;
}

.hero .overlay {
    width: 100%;
    height: 100%;
    background-color: #0101014a;
    position: absolute;
    z-index: 0;
}

.hero .vine-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #e3e3e3;
    padding: 4rem 12px;
}

.hero h3 {
    font-size: 1.6rem;
}

.hero h1 {
    font-size: 2.4em;
    letter-spacing: -2px;
    padding: 0 20px;
}

.hero h2 {
    font-size: 1.6rem;
}


@media screen and (min-width: 900.02px) {
    .hero h3 {
        font-size: 1.6rem;
    }

    .hero h1 {
        font-size: 6.4rem;
        letter-spacing: -4px;
    }

    .hero h2 {
        font-size: 2.5rem;
    }
}

/*EDITIONS*/
.title-editions {
    background-color: #E0E0E0;
}

.title-editions .vine-container-content {
    padding: 5rem 10px;
}

.title-editions h2 {
    font-size: 4rem;
    line-height: 1;
}

.editions {
    position: relative;
    display: none;
}

.editions .division-line {
    display: none;
}

@media screen and (min-width: 900.02px) {
    .editions {
        display: block;
        height: 400vh;
    }

    .editions-mobile {
        display: none;
    }

    .sticky-element {
        position: sticky;
        top: 0;
    }


    .editions .division-line {
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ffffff7e;
        top: 0;
        right: calc(160px + 20px* 2);
        z-index: 99;
    }

}

.editions .vine-section {
    padding-inline: 0 !important;
}


.editions .container-fluid {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.editions .container-fluid .cards-wrapper {
    border-radius: 0;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.editions-mobile .card-mobile {
    height: 580px;
    overflow: hidden;
}

.editions .card-half {
    flex-direction: column;
    flex: 1;
    display: flex;
    height: 200%;
}

.editions .card-slide,
.editions-mobile .card-mobile .card-slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.editions .card-slide .slide-content,
.editions-mobile .card-mobile .card-slide .slide-content {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2em 28px 32px;
    display: flex;
    position: relative;
}

.editions .card-slide .slide-content .slide-bg,
.editions-mobile .card-mobile .card-slide .slide-content .slide-bg {
    z-index: -1;
    position: absolute;
    inset: 0%;
}

.editions .card-slide .slide-content .slide-bg .overlay,
.editions-mobile .card-mobile .card-slide .slide-content .slide-bg .overlay {
    z-index: 1;
    background-color: #02020266;
    position: absolute;
    inset: 0%;
}

.editions .card-slide .slide-content .slide-bg video,
.editions-mobile .card-mobile .card-slide .slide-content .slide-bg video, .editions .card-slide .slide-content .slide-bg img,
.editions-mobile .card-mobile .card-slide .slide-content .slide-bg img {
    aspect-ratio: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: visible;
}

.card-slide .slide-text {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e3e3e3;
    font-family: "Figtree", sans-serif;
    font-size: 1.5rem;
    line-height: 1;
}

.card-slide .slide-text a {
    width: 100%;
    text-align: center;
    background-color: #222;
    color: #E0E0E0;
    padding: 14px 8px;
    font-family: uqr;
    font-size: 1.2rem;
    border-radius: 6px;
}

.card-slide .slide-text a:hover {
    background-color: #E0E0E0;
    color: #222;
}

.card-slide .slide-text.white a {
    background-color: #E0E0E0;
    color: #222;
}

.card-slide .slide-text.white a:hover {
    background-color: #222;
    color: #E0E0E0;
}

.editions .card-right {
    transform: translate3d(0px, -50%, 0px);
}

/*OUR MISSION*/
.mission {
    display: block;
    inline-size: 100%;
    margin-inline: auto;
    padding-inline: 0;
    color: white;
    padding: var(--outsideGutters) var(--outsideGutters) 80px;
    ;
}

@media (min-width: 900.02px) {
    .mission {
        padding: 40px 50px min(10.7638888889vw, 19.1358024691vh);
    }
}

.mission-manifesto {
    margin-bottom: 12vh;
    position: relative;
}

.mission-visual {
    display: block;
}

@media (min-width: 900.02px) {
    .mission-visual {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.mission-img {
    position: relative;
    aspect-ratio: 535 / 668;
    border-radius: 4px;
    overflow: hidden;
    width: calc(calc(4* var(--col) / var(--columns) + var(--gutters)*(4 - 1)) + var(--gutters));
}

@media (min-width: 900.02px) {
    .mission-img {
        width: 37vw;
    }
}

.js-parallax-in img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    transform: translateY(calc(10%* var(--yPercent))) scale(1.2) translateZ(0);
    -o-object-fit: cover;
    object-fit: cover;
}

.mission-visual h5 {
    display: none;
    color: white;
}

@media (min-width: 900.02px) {
    .mission-visual h5 {
        display: block;
    }
}

.mission-bottom {
    margin: 60px auto 0;
}

@media (min-width: 900.02px) {
    .mission-bottom {
        margin: min(9.375vw, 16.6666666667vh) auto 0;
    }
}

.blur-text {
    width: 70vw;
    max-width: 1000px;
    min-width: 300px;
    line-height: 1.2;
    font-family: "Figtree", sans-serif;
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.blur-text--2 {
    font-family: "Figtree", sans-serif;
    font-variation-settings: "wdth" 80, "wght" 300;
}


/*FAV PRODUCTS*/
.fav-products .section-body {
    padding: 80px 0 80px 0;
}

.fav-products .vine-container-content {
    padding: 0 10px 0 10px;
}

.fav-products .fav-heading {
    padding: 0px 0 80px 0;
}

.fav-products .fav-heading h2 {
    font-size: 7vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.fav-products .flex-products {
    flex-direction: column;
}

@media (min-width: 900.02px) {
    .fav-products .flex-products {
        flex-direction: row;
    }
}

/*PRODUCT CARD*/
.product-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #e3e3e3;
    display: inline-block;
    border-radius: 6px;
    border: none;
    height: 480px;
}

@media (min-width: 900.02px) {
    .product-card {
        width: calc(25vw - 12.5px);
        height: calc(calc(25vw - 12.5px) + calc(25vw - 12.5px) / 4);
        margin-right: 10px;
    }
}

.product-card .card-body {
    display: block;
    width: 100%;
    height: 100%;
}

.product-card .card-img-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 0.4s ease;
}

.product-card .card-body:hover .card-img-top.second-image {
    opacity: 0;
    transition: all 0.4s ease;
}

.product-card .card-body:hover .card-img-top {
    transform: translate(-50%, -50%) scale(.9);
    transition: all 0.4s ease;
}

.product-card .card-img-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-card .card-body:hover .card-img-bottom {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.15);
    transition: all 0.4s ease;
}

.product-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.product-card .card-body:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.card-title {
    position: absolute;
    top: -20%;
    left: 2%;
    transition: all 0.4s ease;
    z-index: 2;
    mix-blend-mode: difference;
    color: white;
}

.product-card .card-body:hover .card-title {
    top: 2%;
    left: 2%;
    transition: all 0.2s ease;
}

.card-title h1 {
    line-height: 1;
    margin-bottom: 0;
    font-size: 1.2rem !important;
}

.card-title p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.card-info {
    position: absolute;
    bottom: -10%;
    left: 2%;
    right: 2%;
    transition: all 0.4s ease;
    z-index: 2;
    mix-blend-mode: difference;
    color: white;
}

.product-card .card-body:hover .card-info {
    bottom: 2%;
    left: 2%;
    right: 2%;
    transition: all 0.2s ease;
}

/*MODAL*/
.modal-content {
    border-radius: 8px;
}

.wk-popup-modal .btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 1.2rem;
    background: none;
    color: #010101;
}

.wk-info-wrap {
    width: 100%;
    padding: 40px 40px 30px;
}

.wk-info-wrap h3 {
    font-size: 3rem;
    line-height: 1.2;
}

.wk-info-wrap h5 {
    font-size: 1.6rem;
    font-weight: 400;
}

.wk-info-wrap p {
    font-size: 1.2rem;
    font-weight: 300;
}

/*PROMO BANNER*/
.promo-banner .vine-container-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/*MIN CATALOG*/

.min-catalog .vine-container-content {
    padding: 80px 1vw;
}

.min-catalog .vine-container-content .min-heading {
    padding: 0px 0 80px 0;
}

.min-catalog h1 {
    font-size: 10vw;
}

/*PRODUCT DETAIL*/
.vine-product {
    padding-top: 32px;
    background-color: #222;
    color: #e3e3e3;
    overflow: hidden;
    position: relative;
}

.vine-product .row {
    flex-direction: column-reverse;
}

.vine-product .col-md-10 {
    overflow: hidden;
    position: relative;
}

.vine-product .col-md-10 .h-100 {
    height: 500px !important;
    margin-bottom: 32px;
}

@media screen and (min-width: 900.02px) {
    .vine-product .col-md-10 .h-100 {
        height: 100% !important;
    }
}

.vine-product .col-md-10 .thumbs-min {
    background-color: rgba(78, 78, 78, 0.829);
    padding: 6px;
    border-radius: 14px;
    width: fit-content;
    height: fit-content;
}

.vine-product .col-md-10 .thumbs-min .thumb {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #222;
}

.vine-product .col-md-10 .thumbs-min .thumb img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.vine-product .imgDetail {
    height: 100%;
}

.imgDetail .swiper-wrapper {
    cursor: url('/img/arrastra.png'), auto !important;
}

.vine-product .imgDetail .swiper-wrapper {
    height: 100%;
}

.vine-product .imgDetail .swiper-slide {
    width: 100%;
    border-right: 1px solid #e3e3e3;
    background-color: #222;
    height: 100%;
    position: relative;
}

.vine-product .imgDetail .swiper-slide img {
    position: absolute;
}


@media (min-width: 900.02px) {

    .vine-product {
        padding-top: 0;
        height: 100vh;
    }

    .vine-product .row {
        flex-direction: row;
    }

    .vine-product .division-line {
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #ffffff7e;
        top: 0;
        right: calc(160px + 20px* 2);
        z-index: 99;
    }

    .vine-product .imgDetail {
        height: 100%;
    }

    .vine-product .col-md-10 .thumbs-min {
        position: absolute;
        top: 24px;
        left: 24px;
        background-color: rgba(78, 78, 78, 0.829);
        padding: 6px;
        border-radius: 14px;
        width: fit-content;
        height: fit-content;
    }

    .vine-product .imgDetail .swiper-slide {
        width: calc(100vh - 272px) !important;
    }
}

.vine-container-content .nav-tabs {
    border-bottom: 1px solid #ffffff7e;
    font-family: "Figtree", sans-serif;
}

.tab-content {
    font-family: "Figtree", sans-serif;
}

.vine-container-content .nav-link {
    color: #e3e3e3;
    font-size: 1.4rem;
    font-family: "Figtree", sans-serif;
    border: none;
    opacity: 0.2;
}

.vine-container-content .nav-link.active {
    opacity: 1;
    color: #e3e3e3;
    background-color: transparent;
}

.product-details {
    height: 72vh;
}

.total-reviews .progress {
    height: 6px;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
}

/*MARQUEE*/

.wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 36px;
    padding: 0;
}

.box {
    position: absolute;
    background: transparent;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 10px;
}

.boxes {
    position: relative;
}


/*WATCH HISTORY*/
.watch-history {
    background-color: #222;
    color: #E7E5E5;
}

/*CATALOG PAGE*/
.catalog-page {
    background-color: #222;
    color: #E7E5E5;
}

.catalog-page .vine-container-content {
    min-height: 100vh;
    padding: 4rem 1vw;
}

.filter .accordion-item,
.accordion-button {
    background-color: #222;
    border-color: #e3e3e3;
    color: #e3e3e3;
}

.accordion-button::after {
    mix-blend-mode: exclusion;
}

.filters {
    position: fixed;
    right: 12px;
    left: 12px;
    bottom: 12px;
    z-index: 990;
}

.filters.off {
    bottom: -30%;
}

@media (min-width: 900.02px) {
    .filters {
        right: 0;
        bottom: 0;
    }
}

.sidebar-filter {
    background-color: #303030;
    color: #e3e3e3;
    border-radius: 6px;
}

.sidebar-filter a {
    color: #e3e3e3;
}

.sidebar-filter a:hover {
    padding-left: 12px;
    transition: all .2s ease;
    text-decoration: underline;
}

@media (min-width: 900.02px) {
    .sidebar-filter {
        position: absolute;
        width: 160px;
        right: 20px;
        bottom: 50px;
        z-index: 8;
        flex-direction: column;
    }
}


.modal-filters {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -94%;
    right: 0;
    z-index: 9999;
    transition: all .5s ease;
    pointer-events: none;
    opacity: 0;
    padding: 0 12px;
}

.modal-filters.active {
    bottom: 64px;
    opacity: 1;
    pointer-events: all;
    transition: all .5s ease;
}


@media (min-width: 900.02px) {
    .modal-filters {
        top: -110%;
        width: 100%;
        height: 100dvh;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #e3e3e34a;
    }

    .modal-filters.active {
        top: 0;
        opacity: 1;
        pointer-events: all;
        transition: all .5s ease;
    }
}

.closeBtn {
    aspect-ratio: 1;
    border-radius: 100px;
    border: 1px solid #e3e3e3;
    padding: 1px 6px;
    text-align: center;
}

.closeBtn ion-icon {
    font-size: 14px;
}

.closeBtn:hover {
    background-color: #e3e3e3;
    color: #222;
    cursor: pointer;
}

.filters-wrapper {
    background-color: #222;
    border-radius: 6px;
    color: #E7E5E5;
    padding: 10px;
}

@media (min-width: 900.02px) {
    .filters-wrapper {
        position: absolute;
        inline-size: 300px;
        inset-inline-end: 216px;
        inset-block-start: 50px;
        z-index: 8;
        flex-direction: column;
    }
}


/*PRODCTUS CATALOG*/
.products-grid {
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    row-gap: 15px;
}

.products-grid .product {
    grid-column: span 6;
}

.products-grid .product .product-card {
    aspect-ratio: 423 / 525;
    padding: 24px 20px;
    height: inherit;
    width: 100%;
    height: 100%;
}

.products-grid .product-wow {
    grid-column: span 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    padding: 24px 20px;
    overflow: hidden;
}

.products-grid .product-wow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.products-grid .product-wow .product-card {
    margin: 0;
    aspect-ratio: 423 / 525;
    width: 100%;
    height: inherit;
    position: relative;
    z-index: 1;
}

@media (min-width: 900.02px) {
    .products-grid {
        grid-template-columns: repeat(12, 1fr);
        -moz-column-gap: 20px;
        column-gap: 20px;
    }

    .products-grid .product {
        grid-column: span 4;
    }

    .products-grid .product-wow {
        grid-column: span 8;
        grid-row: span 2;
        padding: 0;
    }

    .products-grid .product-wow .product-card {
        width: calc(25vw - 12.5px);
        height: calc(calc(25vw - 12.5px) + calc(25vw - 12.5px) / 4);
        aspect-ratio: inherit;
    }
}



.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4bedc2;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
    pointer-events: none;
}


/*FOOTER*/
footer {
    padding: .8333333333rem;
    background-image: linear-gradient(#2e2c2a, #44413c);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

footer .content {
    background-color: #F3F2EC;
    padding: 1.9444444444rem;
    border-radius: 4px;
    position: relative;
    z-index: 2;
    margin-bottom: 12rem;
}

footer .highlight {
    z-index: 0;
    filter: blur(10em);
    background-color: #d4c9bb;
    border-radius: 17em;
    width: 50em;
    height: 50em;
    position: absolute;
    inset: auto auto -20% -10%;
    transform-style: preserve-3d;
    will-change: transform;
    mix-blend-mode: difference;
}

.footer-link {
    color: #222;
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
}

footer .btn-media {
    background-color: #222;
    color: #E0E0E0;
    border-radius: 100px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
}

footer .btn-media:hover {
    background-color: #E0E0E0;
    color: #222;
    border-color: #222;
}

@media (min-width: 900.02px) {
    footer {
        padding: 1.9444444444rem;
    }
}


.auth-content{
    margin-top: 12vh;
    margin-bottom: 12vh;
}
